################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Template_2017/v16/Browse.VC.db
/.vs/Template_2017/v16
