################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Template_2017/v16/Browse.VC.db
/.vs/Template_2017/v16
.vs/Template_2017/v17/Solution.VC.db
.vs/Template_2017/v17/ipch/b4d13ec43662bc26.ipch
.vs/Template_2017/v17/ipch/AutoPCH/b759ec58b7d24268/MAIN.ipch
.vs/Template_2017/v17/ipch/AutoPCH/88d57e40bcee536c/MASSSPRINGSYSTEMSIMULATOR.ipch
.vs/Template_2017/v17/ipch/AutoPCH/7c9b767a54df4c80/RIGIDBODYSYSTEM.ipch
.vs/Template_2017/v17/ipch/AutoPCH/79018f928109f780/RIGIDBODYSYSTEMSIMULATOR.ipch
.vs/Template_2017/v17/ipch/AutoPCH/5834112d93bed51/RIGIDBODY.ipch
.vs/Template_2017/v17/ipch/AutoPCH/2e66ae6917f1118a/COUPLEDSIMULATOR.ipch
.vs/Template_2017/v17/ipch/37c131dbd3f1690f.ipch
.vs/Template_2017/v17/fileList.bin
.vs/Template_2017/v17/Browse.VC.db
.vs/Template_2017/v17/.suo
.vs/Template_2017/project-colors.json
